<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
    <!--@Styles.Render("~/Content/css")-->
    @Styles.Render("~/Content/reset.css")
    <!-- Bootstrap style -->
    @Styles.Render("~/Content/base.css")
    @Styles.Render("~/Content/bootstrap-responsive.min.css")
    @Styles.Render("~/Content/font-awesome-ie7.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/style.css")
    <!-- Custom Style --> 
    @RenderSection("STYLE", required: false)
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!-- Custom Script --> 
    @RenderSection("SCRIPT_BEFORE", required: false)
</head>
<body>
    @RenderBody()

    
    @RenderSection("CONTENT_01", required: false)
    @RenderSection("CONTENT_02", required: false)
    @RenderSection("CONTENT_03", required: false)
    @RenderSection("CONTENT_04", required: false)
    @RenderSection("CONTENT_05", required: false)


    
        <div id="header" >
            <div id="topPanel">
                <div class="CONTENT">
                    <div id="logo">
                        {!LOGO_01!}
                    </div>
                    
                    <ul id="TOP_LEFT_REGION" class="left">
                      <li><a href="default.asp">Home</a></li>
                      <li><a href="news.asp">News</a></li>
                      <li><a href="contact.asp">Contact</a></li>
                      <li><a href="about.asp">About</a></li>
                      {!TOP_LEFT_REGION!}
                    </ul>
                    <div id="TOP_CENTER_REGION" class="right">
                        <a><img src="/"/></a>
                        <a><img src="/"/></a>
                        <a><img src="/"/></a>
                    </div>
                </div>
            </div>
            <div id="LEFT_PANEL">
                {!LEFT_PANEL_01!}
                {!LEFT_PANEL_02!}
                {!LEFT_PANEL_03!}
                {!LEFT_PANEL_04!}
                {!LEFT_PANEL_05!}
            </div>
            <div id="RIGHT_PANEL">
                {!RIGHT_PANEL_01!}
                {!RIGHT_PANEL_02!}
                {!RIGHT_PANEL_03!}
                {!RIGHT_PANEL_04!}
                {!RIGHT_PANEL_05!}
            </div>
            <div class="CONTENT" id="BANNER_REGION">
                <div id="profile">
                    <p> Welcome Guest !</p>
                    <img id="avatar" src="images/icon/guest.PNG"/>
                </div>
                <img id="headerSearch" src="images/searchPanel.JPG"/>
            </div>
        </div>
        <div class="CONTENT" id="body">
            <div id="LEFT_REGION" class="left">
                <div class="LEFT_REGION">
                    <div class="LEFT_HEADER">
                        {!LEFT_REGION_01!}
                    </div>
                    <div class="LEFT_CONTENT">
                        <ul>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                            <li><a href="#">Link 5</a></li>
                        </ul>
                    </div>

                </div>
                <div class="LEFT_REGION">
                    <div class="LEFT_HEADER">
                        {!LEFT_REGION_02!}
                    </div>
                    <div class="LEFT_CONTENT">
                        News component here
                    </div>
                </div>
                <div class="LEFT_REGION">
                    <div class="LEFT_HEADER">
                        {!LEFT_REGION_03!}
                    </div>
                    <div class="LEFT_CONTENT">
                        Contacts component here
                    </div>
                </div>
                <div class="LEFT_REGION">
                    <div class="LEFT_HEADER">
                        {!LEFT_REGION_04!}
                    </div>
                    <div class="LEFT_CONTENT">
                        Contacts component here
                    </div>
                </div>
                {!LEFT_REGION_05!}<br/>
                {!LEFT_REGION_06!}<br/>
                {!LEFT_REGION_07!}<br/>
                {!LEFT_REGION_08!}<br/>
                {!LEFT_REGION_09!}<br/>
                {!LEFT_REGION_10!}
            </div>
            <div id="CENTER_REGION" class="right ">
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_MENU_01!}
                    </div>
                </div>
                <div class="CENTER_REGION" style="margin-top:0px">
                    <div class="slideshow">
                        {!SLIDESHOW_01!}
                    </div>
                </div>
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_01!}
                    </div>
                    <div class="CENTER_CONTENT">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </div>
                </div>
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_02!}
                    </div>
                    <div class="CENTER_CONTENT">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </div>
                </div>
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_03!}
                    </div>
                    <div class="CENTER_CONTENT">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </div>
                </div>
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_04!}
                    </div>
                    <div class="CENTER_CONTENT">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </div>
                </div>
                <div class="CENTER_REGION">
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_05!}
                    </div>
                    <div class="CENTER_CONTENT">
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                        <div class="block"></div>
                    </div>
                </div>
                <div class="CENTER_REGION" style="margin-bottom:5px;"> 
                    <div class="CENTER_HEADER">
                        {!CENTER_REGION_09!}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            {!FOOTER!}
        </div>
    
    @RenderSection("SCRIPT_AFTER", required: false)
</body>
</html>
