<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("STYLE", required: false)
    <title>@ViewBag.Title</title>
    <!--@Styles.Render("~/Content/css")-->
    <!-- Bootstrap style -->
    @Styles.Render("~/Content/base.css")
    @Styles.Render("~/Content/bootstrap-responsive.min.css")
    @Styles.Render("~/Content/font-awesome-ie7.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("SCRIPT_BEFORE", required: false)
</head>
<body>
    @RenderBody()

    
    @RenderSection("CONTENT_01", required: false)
    @RenderSection("CONTENT_02", required: false)
    @RenderSection("CONTENT_03", required: false)
    @RenderSection("CONTENT_04", required: false)
    @RenderSection("CONTENT_05", required: false)

    <div id="STATISTICS">

    </div>
    <div id="FOOTER">

    </div>

    
    @RenderSection("SCRIPT_AFTER", required: false)
</body>
</html>
